<div class="card text-center m-3">



  <div class="container ">
    <h2>Patients List</h2>
    <a class="btn btn-success  " [routerLink]="['/add-patient']">Add Patient</a>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Patient Full Name</th>
          <th>Patient Phone No.</th>
          <th>Patient Blood Group</th>
          <th>View</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of patientList">
          <td>{{x.fullName}}</td>
          <td>{{x.phoneNumber}}</td>
          <td>{{x.bloodGroup}}</td>
          <td><button class="btn  btn-primary" (click)="viewPatient(x.patientId)">View</button></td>
          <td><button class="btn  btn-warning" (click)="updatePatient(x.patientId)">Update</button></td>
          <td><button class="btn  btn-danger" (click)="deletePatient(x.patientId)">Delete</button></td>

        </tr>


      </tbody>
    </table>
  </div>
