<p>patient-view works!</p>

<!-- main app container -->

<div class="card  m-3">
  <div class="card-header">

  </div>
  <div class="card-body ">
    <h5 class="card-title"></h5>
    <h3 class="card-text text-center">View Plasma Donor Details</h3>


  </div>

  <div class="container d-flex">

    <div class="form-group col-4">
      <img class="img-fluid" src="../../assets/d.jpg" alt="">
    </div>
    <div class="form-group col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Donor Full Name</th>
            <th>Donor Phone No.</th>
            <th>Donor Blood Group</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{donorViewModel.donorName}}</td>
            <td>{{donorViewModel.phoneNumber}}</td>
            <td>{{donorViewModel.bloodGroup}}</td>
          </tr>

            <tr>
              <td></td>
              <td>
                <div class="text-center p-2 m-2">
                  <button class=" btn btn-group-lg btn-warning" [routerLink]="['/plasma-donor-list']">Go Back To Plasma Donor-List </button>
                </div>
            
              </td>
              <td></td>
            </tr>

        </tbody>
      </table>
    </div>



  </div>
