<div class="card text-center m-3">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h3 class="card-text">Stay Home, Stay Safe</h3>
    <h4>“Please Wear a Mask and keep Social Distance”</h4>

    <div class="text-center">
      <button class=" btn btn-group-lg btn-warning p-3 m-3" [routerLink]="['/patients-list']">Go Back To Patients-List
      </button>
      <button class=" btn btn-group-lg btn-danger p-3 m-3" [routerLink]="['/plasma-donor-list']">Go Back To Donor-List
      </button>
    </div>
  </div>